# This .gitignore file should be placed at the root of your project directory
#

server/downloads
server/node_modules
server/vault_data
server/kiwix-serve.exe
server/package-lock.json
server/users.json
server/config.json
server/dtn_spool/
CyberDeck-Website/
dist/
node_modules/
.env
.env.*
.DS_Store
Thumbs.db

# Android Client
*.jks
*.apk
